.navbar {
    // background: rgb(65,62,120);
    // background: linear-gradient(90deg, rgba(65,62,120,1) 0%, rgba(17,9,122,1) 11%, rgba(109,11,112,1) 88%, rgba(107,35,179,1) 100%);

    background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,1) 2%, rgba(49,49,116,1) 32%, rgba(105,0,161,1) 72%, rgba(117,33,193,1) 100%, rgba(180,58,58,1) 100%);
    // background: rgb(204, 43, 94);
    // background: linear-gradient(90deg, rgba(204, 43, 94, 1) 0%, rgba(137, 20, 110, 1) 28%, rgba(136, 27, 133, 1) 54%, rgba(136, 28, 137, 1) 89%, rgba(117, 58, 136, 1) 100%);
}

.outlinedButton {
    background-color: rgba(65, 62, 120, 0.6) !important;
    color: white !important;
}

